
.footer{
    background-color: black;
}.english{
    margin-right: 300px;
}
.or{
    color:aliceblue;
    display: flex;
    justify-content: center;
}.english{
    margin-top: 900px;
}.net{
    margin-left: 200px;
}